<form [formGroup]="frmJokes">
    <div class="card card-block">
      <h4 class="card-title">Crear broma</h4>
      <div (keypress)="pulsaTecla($event, preguntaHTML, respuestaHTML)">
        <div class="form-group">
          <h5>Pregunta:</h5>
          <input
            type="text"
            class="form-control"
            placeholder="Introduzca pregunta de la broma"
            formControlName="pregunta"
            [ngClass]="{'incorrecto':  pregunta.invalid && pregunta.dirty,
            'correcto':  pregunta.valid && pregunta.dirty}"
            #preguntaHTML
          />
          <div class="form-control-feedback" *ngIf="pregunta.errors && (pregunta.dirty || pregunta.touched)">
            <p *ngIf="pregunta.errors['minlength']" class="error">Se requiere un mínimo de 6 caracteres</p>
            <p *ngIf="pregunta.errors['required']" class="error">El campo pregunta es obligatorio</p>
          </div>
        </div>
        <div class="form-group">
          <h5>Respuesta:</h5>
          <input
            type="text"
            class="form-control"
            placeholder="Introduzca la respuesta a la broma"
            formControlName="respuesta"
            [ngClass]="{'incorrecto':  respuesta.invalid && respuesta.dirty,
            'correcto':  respuesta.valid && respuesta.dirty}"
            #respuestaHTML
          />
          <div class="form-control-feedback" *ngIf="respuesta.errors && (respuesta.dirty || respuesta.touched)">
            <p *ngIf="respuesta.errors['minlength']" class="error">Se requiere un mínimo de 6 caracteres</p>
            <p *ngIf="respuesta.errors['required']" class="error">El campo respuesta es obligatorio</p>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-primary"
        (click)="crearJoke(preguntaHTML, respuestaHTML)"
        [disabled]="pregunta.invalid || respuesta.invalid"
      >
        Crear
      </button>
    </div>
  </form>
